<h1>Contact</h1>
<div id="contact-wrapper-wrapper">
	<div id="contact-wrapper">
		<h3>Portfolio</h3>
			<p><a href="https://devyashis.me">Devyashis.me</a> My website!
			<p><a href="https://www.linkedin.com/in/yash101">LinkedIn: @yash101</a></p>
			<p><a href="https://github.com/yash101">GitHub: @yash101</a> I use GitHub for version control for the projects I work on.</p>
		<h3>Contact Me</h3>
		<p>The best way to contact me is through email. You can email me at <a href="mailto:antispam_filter@example.com" id="eml">Please wait; loading email address!</a>.</p>
	</div>
</div>

<style type="text/css">
#contact-wrapper-wrapper {
	width: 100%;
	text-align: center;
	padding: 32px;
}
#contact-wrapper {
	display: inline-block;
	text-align: left;
	width: 100%;
	max-width: 640px;
}
#contact-wrapper > * {
	font-size: 18pt;
}
#contact-wrapper h3 {
	font-size: 24pt;
	text-align: center;
}
</style>
<script type="text/javascript">
(function() {
	setTimeout(function() {
		$("#contact-wrapper #eml").attr("href", "mailto:lodhad@gmail.com");
		$("#contact-wrapper #eml").html("lodhad@gmail.com");
	}, 1500);
})();
</script>