<h1>Resume</h1>
<div id="resume-holder">
	<iframe id="resume" src="https://docs.google.com/document/d/146jQoVTnC63u0-P1xy2phnl0mD7q1TC7euXuESAFR2M/pub?embedded=true"></iframe>
	<p>Something look funky? Click <a href="https://docs.google.com/document/d/146jQoVTnC63u0-P1xy2phnl0mD7q1TC7euXuESAFR2M" target="blank">here</a> to view the document in Google Drive!</p>
</div>

<style type="text/css">
#resume-holder {
	width: 100%;
	text-align: center;
}
#resume {
	display: inline-block;
	width: 100%;
	max-width: 816px;
	height: 1080px;
	min-height: 600px;
	border: 1px solid #404040;
}
</style>
